#title-box{
    grid-area: title;

    font-family: 'Podkova', serif;
    font-size: 90px;

    text-align: center;
    
    border-bottom: 9px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style:solid;

    margin-bottom: 0px;
    margin-top: 0px;
}

#return-button{
    grid-area: return;
    background:#174276;
    border: 0 solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-right: 3vw;
    cursor: pointer;
    transition-duration: 0.4s;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    text-align: center;
    color: white;
}

#return-button:hover{
    background-color: #276ec4; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}


#help-button{
    grid-area: help;
    background: #b60000;
    border: 0 solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-left: 3vw;
    cursor: pointer;
    transition-duration: 0.4s;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    text-align: center;
    color: white;
}

#help-button:hover{
    background-color: #FF0000; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#text-left{
    grid-area: left;
}

#mouse-indicator{
    grid-area: mouse;
    width: 15vw;
    margin-left: 3vw;
}

#moduleTurnOnOffButton{
    grid-area: moduleTurnOnOffButton;
    
}

#moduleTurnOnOffText{
    grid-area: moduleTurnOnOffText;
}

#moduleWindowsButton{
    grid-area: moduleWindowsButton;
    
}

#moduleWindowsText{
    grid-area: moduleWindowsText;
}

#moduleBrowsersButton{
    grid-area: moduleBrowsersButton;
    
}

#moduleBrowsersText{
    grid-area: moduleBrowsersText;
}

.moduleText{
    background: #174276;
    border: 0 solid #000000;
    height: 150px;
    vertical-align: middle;
    border-radius: 10px;
    margin-bottom: 2vw;
    margin-top: 0.5vw;
    cursor: pointer;
    transition-duration: 0.4s;

    text-align: center;
    font-family: 'Poppins', serif;
    font-size: 32px;
    color: white;
}

.moduleText:hover{
    background-color: #276ec4; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.moduleButton{
    width: 196px;
    height: 169px;
    margin-left: 4.7vw;
    margin-right: 0;
    margin-bottom: 2vw;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
    transition-duration: 0.4s;
}

.moduleButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 199px;
    height: 172px;
}

.text-boxes{
    text-align: center;

    font-family: 'Poppins', serif;
    font-size: 32px;
    margin-right: 3vw;
}

body{
    background-color:#e3f2ff;
    
    margin-top: 6vh;
    margin-left: 5vw;
    margin-right: 5vw;
    
    display: grid;

    grid-template-columns: 20vw 15vw 0vw 35vw 20vw;
    grid-template-rows: 15vh 8vh 20vh 20vh 20vh;
    grid-template-areas: 
    "return title title title help"
    ". . . . ."
    "left moduleTurnOnOffButton . moduleTurnOnOffText moduleTurnOnOffText"
    ". moduleWindowsButton . moduleWindowsText moduleWindowsText"
    "mouse moduleBrowsersButton . moduleBrowsersText moduleBrowsersText"
}