#title-box{
    grid-area: title;

    font-family: 'Podkova', serif;
    font-size: 90px;

    text-align: center;
    
    border-bottom: 9px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style:solid;

    margin-bottom: 0px;
    margin-top: 0px;
}

#text-left{
    grid-area: left;
    margin-top: 0;
}

#return-button{
    grid-area: return;
    background:#174276;
    border: 0 solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-right: 3vw;
    cursor: pointer;
    transition-duration: 0.4s;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    text-align: center;
    color: white;
}
#return-button:hover{
    background-color: #276ec4; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#help-button{
    grid-area: help;
    background: #b60000;
    border: 0 solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.4s;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    text-align: center;
    color: white;
    margin-left: 3vw;
}
#help-button:hover{
    background-color: #FF0000; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#mouse-indicator{
    grid-area: mouse;
    width: 15vw;
    margin-left: 3vw;
}

#video{
    grid-area: video;
    height:55vh;
    width: 50vw;
}

#next-button{
    grid-area: next;

    margin-left: 3vw;

    box-shadow: 0px;
    background-color: #174276;
    color: white;

    border-color: black;
    border-width: 3px;

    width: 400px;
    height: 203px;
    border-radius: 75px;

    cursor: pointer;
}

.text-boxes{
    text-align: center;

    font-family: 'Poppins', serif;
    font-size: 30px;
}

body{
    background-color:#e3f2ff;
    
    margin-top: 6vh;
    margin-left: 5vw;
    margin-right: 5vw;
    
    display: grid;

    grid-template-columns: 20vw 50vw 20vw;
    grid-template-rows: 15vh 7vh 20vh 20vh 20vh;
    grid-template-areas: 
    "return title help"
    ". . ."
    "left video ."
    ". video ."
    "mouse video ."
}